# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files
*.iml
.idea/
out/

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code project files
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
